
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<div class="center">
    
<h2>LIST OF BOOKS AVAILABLE</h2>
<table class="customers">
    <tr>
        <th>ISBN</th>
            <th>TITLE</th>
                <th>AUTHOR</th>
                    <th>PRICE</th>  
                      <th>EDIT</th>
                        <th>REMOVE</th>      
    </tr>
    <!-- BIND ARRAY TO TABLE -->
        <tr *ngFor="let book of bookList; let i=index">
          <td>{{ book.isbn}}</td>
          <td>{{ book.title}}</td>
          <td>{{ book.author}}</td>
          <td>{{ book.price}}</td>
         <td><button (click)="EditDetails(book.isbn)" class="button button1"><i class="material-icons">create</i></button></td> 
         <td><button (click)="deleteBook(i)" class="button button1"><i class="material-icons">delete</i></button></td> 
        </tr>
</table>
<br>
<!--
<ul>
    <li *ngFor="let book of bookList">
      {{ book.isbn }} | {{ book.title }} | {{ book.author }} | {{ book.price }}  
    </li>
  </ul>
  -->
</div>