
<mat-toolbar class="textdecoration">
    <h2><b>LIBRARY MANAGEMENT SYSTEM</b></h2>
  </mat-toolbar>
  
<mat-sidenav-container class="alignment" fixedInViewport="true">
       <mat-sidenav mode="side" opened>
        <mat-nav-list>
            <a mat-list-item href="#" class="button button1" routerLink="/addbook">ADD BOOKS</a><hr>
            <a mat-list-item href="#" class="button button1" routerLink="/showbook">SHOW BOOKS</a><hr>
          </mat-nav-list>
       </mat-sidenav>
    
    <mat-sidenav-content color="primary">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>