
<!--
 <h2 class="center">UPDATE THE BOOK DETAILS</h2>
    <div class="container"> 
       
    <form [formGroup]="dynamicForm">
        <div class="form-group col-6"><br>
            <label>ISBN:</label>
            <input type="text" formControlName="isbn" class="form-control" />
        </div><br>
        <div class="form-group col-6">
            <label>Title:</label>
            <input type="text" formControlName="title" class="form-control" />
        </div>
        <div class="form-group col-6">
            <label>Author:</label>
            <input type="text" formControlName="author" class="form-control" />
        </div>
        <div class="form-group col-6">
            <label>Price:</label>
            <input type="text" formControlName="price" class="form-control" />
        </div><br>
        <button (click)="updateBook()" class="tabbutton1">Update</button>
      
     </form> <br>
</div>-->